@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*::before, *, *::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	background-color: #3f566b;
}

body {
	width: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

a, a:visited {
	color: #FFFFFF;
	text-decoration: underline;
}

a:hover {
}

#main {
	font-size: 14px;
	font-family: 'Bebas Neue', cursive;
	color: #FFFFFF;
	background-color: #4f6a83;
	min-height: 600px;
	width: 55%;
	margin: 0 auto;
	padding: 15px;
}

#header {
	background-color: #3f566b;
	width: 55%;
	height: 105px;
	margin: 0 auto;
}

#title {
	margin: 20px 0px;
	font-size: 72px;
	font-family: 'Bebas Neue', cursive;
	color: #FFFFFF;
	float: left;
}

#userpanel {
	font-size: 16px;
	font-family: 'Bebas Neue', cursive;
	color: #FFFFFF;
	float: right;
}

.guest {
	text-align: center;
	float: left;
	width: 100%;
}

.loginregister {
	width: 100%;
	clear: both;
	float: left;
	text-align: center;
}

#loginbox {
	margin: 40px;
	float: left;
}

#useravatar {
	padding-top: 42px;
	margin-right: 15px;
	float: right;
}

#categories {
	float: left;
	width: 100%;
}

.category {
	width: 100%;
	float: left;
}

.categoryname {
	font-size: 16px;
	float: left;
	width: 70%;
}

.threadcount {
	font-size: 16px;
	float: left;
	width: 15%;
}

.postcount {
	font-size: 16px;
	float: left;
	width: 15%;
}

.viewcount {
	font-size: 16px;
	float: left;
	width: 15%;
}

.subcategory {
	float: left;
	width: 100%;
	height: 55px;
	line-height: 55px;
	background-color: #3f566b;
	margin-bottom: 15px;
}

.thread {
	float: left;
	width: 100%;
	height: 55px;
	line-height: 55px;
	background-color: #3f566b;
	margin-bottom: 15px;
}

.subcategoryname {
	font-size: 14px;
	float: left;
	width: 72%;
	padding-left: 15px;
}

.subcategorythreads {
	font-size: 14px;
	float: left;
	width: 14%;
}

.subcategoryposts {
	font-size: 14px;
	float: left;
	width: 13%;
}

.columns {
	float: left;
	width: 100%;
	font-size: 16px;
}

.column:first-child {
	width: 60%;
	text-align: left;
}

.column {
	width: 13%;
	float: left;
	text-align: center;
}

.threadtitle {
	width: 60%;
	float: left;
	padding-left: 15px;
}

.threadauthor {
	width: 13%;
	float: left;
	text-align: center;
}

.threadposts {
	width: 13%;
	float: left;
	text-align: center;
}

.threadviews {
	width: 13%;
	float: left;
	text-align: center;
}

.post {
	float: right;
	width: 85%;
	min-height: 55px;
	background-color: #3f566b;
	margin-bottom: 15px;
	padding: 15px;
}

.postauthor {
	clear: both;
	float: left;
	width: 15%;
	background-color: #3f566b;
	height: 55px;
	line-height: 55px;
}
.postavatar {
	float: left;
	padding: 10px 0px 0px 15px;
}

.postusername {
	margin-left: 10px;
}
.postnumber {
	float: left;
}
.postdate {
	float: right;
}
.posttext{
	clear: both;
	float: left;
	font-family: Verdana;
	font-size: 12px;
}

.username {
	text-align: center;
	float: left;
	width: 25%;
}

.userposts {
	text-align: center;
	float: left;
	width: 25%;
}
.userthreads {
	text-align: center;
	float: left;
	width: 25%;
}
.userdate {
	text-align: center;
	float: left;
	width: 25%;
}